<div id="createDiv">
    <script type="text/javascript-lazy" src="../js/will/scripts/js.ext.js"></script>
    <script type="text/javascript-lazy" src="../js/will/scripts/js.ext.dom.js"></script>

    <script type="text/javascript-lazy" src="../js/will/engine/Module.js"></script>
    <script async type="text/javascript-lazy" src="../js/will/engine/WacomInkEngine.js"></script>

    <script type="text/javascript-lazy" src="../js/exif.js"></script>
    <script type="text/javascript-lazy" src="../js/ink.js"></script>

    <div class="row">
        <canvas id="canvas" oncontextmenu="event.preventDefault();"></canvas>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Pick A Canvas</h3>
            <input type="file" id="files" accept="image/*"/>
            <div style="width: 20%" id="scale"></div>
            <h3>Share it</h3>
            <div>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Name your art">
                <button class="btn btn-default" id="btn-download">Share</button>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h3>Select Brush</h3>
                <div>
                    <div id="red"></div>
                    <div id="green"></div>
                    <div id="blue"></div>

                    <div id="swatch" class="ui-widget-content ui-corner-all"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // Check for the various File API support.
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            // Great success! All the File APIs are supported.
        } else {
            alert('The File APIs are not fully supported in this browser.');
        }

        var imageLat;
        var imageLon;
        var imageScale = 0.2;
        var imageUrl;
        var imageHeight;
        var imageWidth;
        var imageSource;

        var button = document.getElementById('btn-download');
        button.addEventListener('click', function (e) {
//            debugger;
            imageSource = WILL.saveAsImage();
            var image_name = $('#exampleInputName2').val(); // "first image";

            var img = document.createElement('img');
            img.src = imageSource;
            console.log(img);

//            debugger;
            $.ajax({url: "/share",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({imageName: image_name, imageData: imageSource, lat: imageLat, lng: imageLon}),
                success: function(data, status, xhr) {
                    alert("published your picture")
                    location.reload();
                }
            });

        });

        var canvas = document.getElementById("canvas");

        // detect a change in a file input with an id of “the-file-input”
        $("#files").change(function() {
            //Get the photo from the input form
            var input = document.getElementById('files');
            var files = input.files;
            for(var i = 0; i < files.length; i++)
            {
                var file = files[0];
                var reader = new FileReader; // use HTML5 file reader to get the file

                reader.onloadend = function () {
                    // get EXIF data
                    var exif = EXIF.readFromBinaryFile(this.result); //new BinaryFile(this.result));
//                    debugger;
                    if (exif) {
                        var lat = exif.GPSLatitude;
                        var lon = exif.GPSLongitude;

                        if (lat && lon) {
                            //Convert coordinates to WGS84 decimal
                            var latRef = exif.GPSLatitudeRef || "N";
                            var lonRef = exif.GPSLongitudeRef || "W";
                            lat = (lat[0] + lat[1] / 60 + lat[2] / 3600) * (latRef == "N" ? 1 : -1);
                            lon = (lon[0] + lon[1] / 60 + lon[2] / 3600) * (lonRef == "W" ? -1 : 1);


//                            debugger;
                            imageHeight = exif.PixelYDimension || exif.ImageHeight;
                            imageWidth = exif.PixelXDimension || exif.ImageWidth;
                            imageLat = lat;
                            imageLon = lon;

                            var urlReader = new FileReader();
                            urlReader.onload = function(event){
                                imageUrl = event.target.result;
                                WILL.initImageLayer(imageUrl, imageWidth, imageHeight);
                            };
                            urlReader.readAsDataURL(file);

                        } else {
                            alert('Could not extract image geo location');
                        }

                        console.log("lat: " + lat  + " " + latRef + "; lon: " + lon + " " + lonRef);
                    } else{
                        alert('Could not extract image geo location');
                        console.log(exif);
                    }
                };

                reader.readAsArrayBuffer(file);
            }
        });

        function hexFromRGB(r, g, b) {
            var hex = [
                r.toString( 16 ),
                g.toString( 16 ),
                b.toString( 16 )
            ];
            $.each( hex, function( nr, val ) {
                if ( val.length === 1 ) {
                    hex[ nr ] = "0" + val;
                }
            });
            return hex.join( "" ).toUpperCase();
        }
        function refreshSwatch() {
            var red = $( "#red" ).slider( "value" ),
                    green = $( "#green" ).slider( "value" ),
                    blue = $( "#blue" ).slider( "value" ),
                    hex = hexFromRGB( red, green, blue );
            $( "#swatch" ).css( "background-color", "#" + hex );
            WILL.color = Module.Color.from(red, green, blue);
            if (WILL.strokeRenderer) {
                WILL.strokeRenderer.configure({brush: WILL.brush, color: WILL.color});
            }
        }


        $( "#red, #green, #blue" ).slider({
            orientation: "horizontal",
            range: "min",
            max: 255,
            value: 127,
            slide: refreshSwatch,
            change: refreshSwatch
        });
//        debugger;
        $( "#red" ).slider( "value", 255 );
        $( "#green" ).slider( "value", 140 );
        $( "#blue" ).slider( "value", 60 );

    </script>
</div>